{
    on_demand_tls {
        ask http://127.0.0.1:9123/check
    }
}

https:// {
    tls {
        on_demand
    }
    reverse_proxy 127.0.0.1:8080
}

http:// {
    redir https://{host}{uri} permanent
}
