[Unit]
Description=Daily retention of Orderly marketing events

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
